﻿
@{
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- BOOTSTRAP STYLES-->
    <link href="@Url.Content("~/Content/css/bootstrap.css")" rel="stylesheet">
    <!-- FONTAWESOME STYLES-->
    <link href="@Url.Content("~/Content/css/font-awesome.css")" rel="stylesheet">
    <!-- CUSTOM STYLES-->
    <link href="@Url.Content("~/Content/css/custom.css")" rel="stylesheet">
    <!-- GOOGLE FONTS-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
        <div class="row text-center ">
            <div class="col-md-12">
                <br><br>
                <h2> Proyecto Finanzas</h2>
                <h5>( Entra para acceder a nuestros servicios )</h5>
                <br>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>   Ingrese Credenciales </strong>
                    </div>
                    <div class="panel-body">
                        <br>
                        @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                        {
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="fa fa-tag"></i></span>
                                @Html.TextBox("NombreUsuario", "", new { @class = "form-control", @placeholder = "USUARIO" })
                            </div>
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                @Html.Password("Password", "", new { @class = "form-control", @placeholder = "PASSWORD" })
                            </div>
                            <br>
                            <button type="submit" class="btn btn-default"><i class="fa fa-check"></i> Iniciar Sesión</button>
                        }
                        <hr>
                        @if (TempData["Mensaje"] != null)
                        {
                            <div class="alert alert-danger">
                                @TempData["Mensaje"]
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script async="" src="//www.google-analytics.com/analytics.js"></script>
    <script src="@Url.Content("~/Content/js/jquery-1.10.2.js")"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="@Url.Content("~/Content/js/bootstrap.min.js")"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="@Url.Content("~/Content/js/jquery.metisMenu.js")"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="@Url.Content("~/Content/js/custom.js")"></script>
</body>
</html>
